/* VAR */
:root{
    --main-color: #b91450;
}
/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Common */
body{
    background-color: var(--main-color);
}
h2{
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 2rem;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
}
/* Pseudo form */
.ticket-input-form{
    background-color: white;
    padding: 1rem 12rem;
    border-radius: .5rem;
}
.ticket-input-form label{
    color: var(--main-color);
}
.ticket-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.ticket-container > div{
    display: flex;
    flex-direction: column;
}
.ticket-container label{
    text-align: center;
    margin-bottom: 1rem;
}
.ticket-container input,
.ticket-container select{
    text-align: center;
    border-radius: 5px;
    border: 0;
    border: 1px solid var(--main-color); 
}
.ticket-btns button{
    border-width: 2px;
    border-style: solid;
    border: 2px solid gray;
    margin-right: 1rem;
    padding: 1px 5px;
    border-radius: 5px;
    color: var(--main-color);
}
#btn-generate{
    border-color: orange;
}
.ticket-btns{
    text-align: center;
}
#ticket-age{
    width: 100px;
}
/* Ticket output */
.ticket-output h2{
    padding-bottom: 0;
}
.your-ticket-layout{
    background-color: white;
    padding: 2rem;
}
.ticket-layout{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.ticket-layout > div{
    padding: 1rem;
}
.ticket-layout h4{
    margin-bottom: 3rem;
}
/* Passenger name */
.passenger-details-layout{
    background-color: #808080;
    font-weight: bold;
}
/* Utils */
.ticket-output{
    display: none;
}
.ticket-output.active{
    display: block;
}

/* MEDIA QUERIES*/
@media screen and (max-width: 1201px) {
    .ticket-container{
        display: flex;
        justify-content: center;
        margin-bottom: 3rem;
    }
}
@media screen and (max-width: 768px) {
    .ticket-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 3rem;
        gap: 1rem;
    }
    .ticket-btns{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .ticket-layout{
        flex-direction: column;
        align-items: center;
    }
    .ticket-layout > div{
        width: 100%;
        border-right: 1px solid black;
    }
}
